# Debugging Exercise

## Setup

Gunakan dataset berikut:

```sql
CREATE TABLE sales (
    id INT PRIMARY KEY,
    product_name VARCHAR(50),
    category VARCHAR(50),
    price DECIMAL(10, 2),
    quantity INT,
    sale_date DATE
);

INSERT INTO sales (id, product_name, category, price, quantity, sale_date) VALUES
(1, 'Laptop', 'Electronics', 1000.00, 5, '2024-12-01'),
(2, 'Headphones', 'Electronics', 200.00, 10, '2024-12-02'),
(3, 'Coffee Mug', 'Home', 15.00, 50, '2024-12-03'),
(4, 'Notebook', 'Stationery', 5.00, 100, '2024-12-03'),
(5, 'Smartphone', 'Electronics', 800.00, 8, '2024-12-04'),
(6, 'Pen', 'Stationery', 2.50, 200, '2024-12-04');
```

**Note**: You must use pgAdmin to complete this exercise!

## 1. New Column
Fix the following query to add new column `discount` on `sales` table to record product discount. This column has a `DECIMAL(precision, scale)` data type, with `precision` of 5 and `scale` of 2

```sql
ALTER TABLE sales
ADD discount DEFAULT 0,0 DECIMAL(precision, scale);
```

## 2. Insert New Data
Fix the following query to add new data into `sales` table
```sql
INSERT INTO sales (product_name, category, price, quantity)
VALUES ('Gaming Chair', 'Furniture', 150.00);
```

## 3. Update Product

Fix the following query to change the `sale_date` of a product that contains word `phone` (case-insensitive) to `April 10th 2025`

```sql
UPDATE sales
SET sale_date = date
WHERE condition;
```

## 4. Remove Old Sales

Fix the following query to remove `sales` record before `3rd December 2024`
```sql
DELETE FROM sales
WHERE condition;
```

## 5. Top Sales per Category

Fix the following query to produce the expected output:

| category | total_sales |
| --- | --- |
| Furniture | 3000.00 |
| Electronics | 8400.00 |
| Home | 750.00 |
| Stationery | 1000.00 |

**Notes**: Total Sales is the sum of `price` x `quantity`

```sql
SELECT category, total_sales
FROM sales
```

## 6. Most Expensive Product in Each Category

Fix the following query to produce the expected output:

| category | product_name | price
| --- | --- | --- |
| Electronics | Smartphone | 800.00
| Home | Coffee Mug | 15.00
| Stationery | Notebook | 5.00
| Furniture | Gaming Chair | 150.00

**Notes**: You can use sub-query

```sql
SELECT category, product_name, MAX(price) AS price
FROM sales
GROUP BY category;
```

## 7. Sales Classification

Fix the following query to produce the expected output:

| product_name | price | quantity | sales_class
| --- | --- | --- | ---
| Coffee Mug | 15.00 | 50 | Low
| Notebook | 5.00 | 100 | Low
| Smartphone | 800.00 | 8 | High
| Gaming Chair | 150.00 | 20 | Medium
| Pen | 2.50 | 200 | Low

**Note**:
- Sales is `price` x `quantity`
- If Sales is higher than 5000 -> `sales_class` is `High`
- If Sales is between 1000 to 5000 -> `sales_class` is `Medium`
- If Sales is lower than 1000 -> `sales_class` is `Low`


```sql
SELECT product_name, price, quantity
FROM sales;
```