# Debugging Exercise

## Instructions

- Before editing the notebook, be sure to save a copy to your own Google Drive.
- Raise your hand if you have completed a number, the Instructor will check your answer.
- You can only proceed to the next number if your answer is correct.
- Tips: 
    - Try to understand the error message and which line the error occurs before looking for the solution.
    - You can only use your browsing skills to help you answer the problem.

## Setup

Generate Table and Dataset

```sql
CREATE TABLE sales (
    id INT PRIMARY KEY,
    product_name VARCHAR(50),
    category VARCHAR(50),
    price DECIMAL(10, 2),
    quantity INT,
    sale_date DATE
);

INSERT INTO sales (id, product_name, category, price, quantity, sale_date) VALUES
(1, 'Laptop', 'Electronics', 1000.00, 5, '2024-12-01'),
(2, 'Headphones', 'Electronics', 200.00, 10, '2024-12-02'),
(3, 'Coffee Mug', 'Home', 15.00, 50, '2024-12-03'),
(4, 'Notebook', 'Stationery', 5.00, 100, '2024-12-03'),
(5, 'Smartphone', 'Electronics', 800.00, 8, '2024-12-04'),
(6, 'Pen', 'Stationery', 2.50, 200, '2024-12-04');
```

**Note**: Use Query Tool in pgAdmin to execute these queries

## 1. New Column
Fix the following query to add new column `discount` on `sales` table to record product discount. This column will store **decimal** values and have a default value of **null**

```sql
ALTER TABLE sales ...;
```

## 2. Insert New Data
Fix the following query to add new data into `sales` table.
- **Product Name**: Gaming Chair
- **Product Category**: Furniture
- **Product Price**: 150.00
- **Quantity**: 1
- **Sale Date**: May 9th 2025

```sql
INSERT INTO sales ...;
```

## 3. Update Product

Fix the following query to change the product's **Sale Date** that contains word `phone` (case-insensitive) to **April 10th 2025**

```sql
UPDATE sales
SET ...
WHERE ...;
```

## 4. Remove Old Sales

Fix the following query to remove `sales` record before `3rd December 2024`

```sql
DELETE FROM sales ...;
```

## 5. Total Sales per Category

Show total sales in each category. Sort from highest to lowest.

| category | total_sales |
| --- | --- |
| Electronics | 8400.00 |
| Stationery | 1000.00 |
| Home | 750.00 |
| Furniture | 150.00 |

**Notes**: `total_sales` is the sum of `price` x `quantity`

## 6. Most Expensive Product in Each Category

Show the most expensive product in each category. You can use sub-query to produce this ouput.

| category | product_name | price
| --- | --- | --- |
| Home | Coffee Mug | 15.00
| Stationery | Notebook | 5.00
| Furniture | Gaming Chair | 150.00
| Electronics | Smartphone | 800.00

## 7. Sales Classification

Create a query to show a Sales Classification. You can use `CASE-WHEN` to produce this output.

| product_name | price | quantity | sales_class
| --- | --- | --- | ---
| Coffee Mug | 15.00 | 50 | Low
| Notebook | 5.00 | 100 | Low
| Pen | 2.50 | 200 | Low
| Gaming Chair | 150.00 | 1 | Low
| Headphones | 200.00 | 10 | Medium
| Smartphone | 800.00 | 8 | High

**Note**:
- Sales is `price` x `quantity`
- If Sales is higher than 5000 -> `sales_class` is **High**
- If Sales is between 1000 to 5000 -> `sales_class` is **Medium**
- If Sales is lower than 1000 -> `sales_class` is **Low**